body{
    background-image: url("img/background.jpg");
}

input{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 7%;
    font-size: 48px;
    background-color: rgba(252,252,252, 0.5);
    color:rgb(218, 215, 230);
}

header{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 7%;
    font-size: 48px;
    text-align: center;
    color: white;
}

 button {
    position: absolute;
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 15%;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    transition: 0.5s;
}

#model {
    left: 60%;
    top: 70%;
}

#myModel  {
    left: 42%;
    top: 70%;
}

button:hover {
    background-color: black;
    color: white;
}

#return{
    left: 60%;
    top: 70%;
}

.firstScreen{
    display: block;
}

.secondScreen{  
    display: none;
}

