button {
    position: absolute;
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 15%;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    transition: 0.5s;
}

button:first-of-type {
    left: 60%;
    top: 70%;
}

button:nth-of-type(2) {
    left: 42%;
    top: 70%;
}

button:hover {
    background-color: black;
    color: white;
}