input{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 7%;
    font-size: 48px;
    background-color: rgba(white, 0.5);
    color:rgb(218, 215, 230);
}

header{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 7%;
    font-size: 48px;
    text-align: center;
    color: white;
}
 body{
     background-image: url("img/background.jpg");
 }
